@page
@using BabyPedia.Data
@using BabyPedia.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@model BabyPedia.Pages.Parent.AppointmentList
@inject BabyPediaContext DbContext
@inject UserManager<IdentityUser> UserManager

@{
    var currentParent = await DbContext.Parents
        .Include(x => x.Appointments)
        .ThenInclude(x => x.AppointmentType)
        .Include(x => x.Appointments)
        .ThenInclude(x => x.Pedia)
        .Include(x => x.Appointments)
        .ThenInclude(x => x.Child)
        .Include(x => x.Appointments)
        .ThenInclude(x => x.Payment)
        .FirstOrDefaultAsync(x => x.Id == UserManager.GetUserId(User));

    ViewData["Registered"] = true;
    ViewData["Title"] = "Appointment List";
    Layout = "_Layout";
}
@if (currentParent?.Appointments.LastOrDefault() is { } appointment)
{
    <div class="container">
        <h1 class="text-center">
            <p class="text-center fw-bold text-primary">
                Current Appointment
            </p>
        </h1>
        <p style="background-color: #C1EBC2 !important; color: #82D586" class="fw-bold rounded-3 p-2 container-fluid row m-2">Payment Successful! Launch meeting button will be clickable once doctor is ready!</p>
        <div style="background-color: #F9909C !important;" class="rounded-3 m-2 fw-bold p-3 container-fluid row">
            <div class="col">
                <p class="row">
                    Name of pediatrician: @appointment.Pedia.FirstName @appointment.Pedia.LastName
                </p>
                <p class="row">
                    Service: @appointment.AppointmentType.Name
                </p>
                <p class="row">
                    Date: @appointment.AppointmentDate
                </p>
                <p class="row">
                    Time: @appointment.AppointmentTime
                </p>
            </div>
            <div class="col">
                <p class="row">
                    Patient Name: @currentParent.FirstName @currentParent.LastName
                </p>
                <p class="row">
                    Service: @appointment.AppointmentType.Name
                </p>
            </div>
        </div>
    </div>
    <div class="row container">
        <a href="" class="btn-primary btn m-2">View Prescription</a>
    </div>
}
<div class="container mt-4">
    <h1 class="text-center">
        <p class="text-center fw-bold text-primary">
            Appointment History
        </p>
    </h1>
    <div class="d-flex flex-row">
        <a class="m-2 btn text-dark" style="background-color: #FF9E7A !important;">Export Audit Log</a>
        @if (currentParent?.Appointments.LastOrDefault() is null)
        {
            <a href="/parent/registerappointment" class="btn m-2 btn-primary">Request Appointment</a>
        }
        else
        {
            <p class="m-2 p-0 opacity-25 align-middle my-auto">There's an ongoing appointment.</p>
        }
    </div>
    <table class="table m-2">
        <thead>
        <tr>
            <th scope="col">Pediatrician</th>
            <th scope="col">Child's Name</th>
            <th scope="col">Appointment Type</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var i in currentParent.Appointments)
        {
            <tr>
                <th scope="row">@i.Pedia.FirstName @i.Pedia.LastName</th>
                <td>@i.Child.UserName</td>
                <td>@i.AppointmentType</td>
                <td>@i.AppointmentDate</td>
                <td>@i.Payment.Status</td>
            </tr>
        }
        </tbody>
    </table>
</div>